@import url(https://fonts.googleapis.com/css2?family=Quicksand);
@import url(https://fonts.googleapis.com/css2?family=Audiowide);
@import url(https://fonts.googleapis.com/css2?family=Elms+Sans);

:root {
    font-family:'Quicksand';
    color: white;
    font-size: larger;
}

h2 {
    font-size: 30px;
    letter-spacing: 3px;
    text-decoration: underline;
}

div.logo {
    display: flex;
    flex-direction: row;
}

div.logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.logo div h1 {
    font-family:'Audiowide';
    font-weight: 100;
    font-size: 45px;
    letter-spacing: 12px;
    margin: 0;
}

div.logo div h3 {
    font-family:'Elms Sans';
    font-weight: 600;
    font-size: larger;
    letter-spacing: 13px;
    margin: 0; 
    /*color: #7b31c7;*/
    background-image: linear-gradient(#7b31c7, #50039f);
    color: transparent;
    background-clip: text;
}

div.header {
    padding: 20px;
    border-radius: 0 0 20px 20px;
    /*background-image: linear-gradient(-40deg, #000000, #1f1335);*/
    background-image: radial-gradient(at 20% 20%, #1e1f26, #090b13);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: top .5s;
}

div.hidden {
    top: -140px;
}

.rootBody {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #090b13;
}

.headerBuffer {
   height: 240px;
}

.pageContent {
    margin: 50px;
    justify-self: center;
}

a.anchor {
    display: block;
    position: relative;
    top: -330px;
    visibility: hidden;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul.navbar li {
    flex-grow: 1;
    padding: 10px;
    justify-content: center;
    display: flex;
}

a {
    color: white;
    text-underline-offset: 1px;
    transition: text-underline-offset .5s;
}

a:hover {
    text-underline-offset: 4px;
}

ul.navbar li a {
    flex-grow: 1;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-size: 20px;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color .5s, font-size .5s, letter-spacing .5s;
    border-radius: 20px;
}

ul.navbar li a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    /*font-size: 25px;*/
    letter-spacing: 5px;
}

ul.navbar li a.navActive {
    background-color: rgba(0, 0, 0, 0);
}

ul.navbar li a.navActive:hover {
    background-color: rgba(0, 0, 0, 0);
}

td {
  padding-left: 30px;  
}

/*Desktop Only*/
@media only screen and (min-width: 1152px) {
    div.header {
        display: flex;
        align-items: flex-end;
    }
    ul.navbar {
        flex-grow: 1;
    }
    .headerBuffer {
        height: 160px;
    }
    div.hidden {
        top: 0;
    }
}

/*Mobile Only*/
@media only screen and (max-width: 500px) {
    div.logo {
        transform-origin: left;
        scale: .8;
    }
}
